################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinFormsChatClient/bin/Debug
/WinFormsChatClient/obj/Debug
/WPFChatClient/bin/Debug
/WPFChatClient/obj/Debug
/binaries
*.suo
